body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/background.jpg');

	padding: 0;
	margin: 0;
}

#root {
	background-color: rgba(151, 151, 151, 0.795);
	width: 30rem;
	padding: 2rem;
	border-radius: 5px;
}

@media (max-width: 768px) {
	#root {
		width: 80%;
	}
}

#socials {
	font-size: 1.1rem;
	font-weight: 600;
	margin: 1rem 0 0;
}
